In [46]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20, 10)

In [47]:
df1 = pd.read_csv('Bengaluru_House_Data.csv')
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [48]:
df1.shape

(13320, 9)

In [49]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [50]:
df2 = df1.drop(['area_type', 'society', 'balcony', 'availability'], axis = 'columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [51]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [52]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [53]:
df3.shape

(13246, 5)

In [54]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [55]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

/home/lunawang/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
df3.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [57]:
df3['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [58]:
df3[df3.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [59]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [60]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [61]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  bhk
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4

In [62]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [63]:
convert_sqft_to_num('2166')

2166.0

In [64]:
convert_sqft_to_num('2100 - 2850')

2475.0

In [65]:
convert_sqft_to_num('34.46Sq. Meter')

In [66]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
df4.head(3)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3

In [67]:
df4.loc[30]

location      Yelahanka
size              4 BHK
total_sqft         2475
bath                  4
price               186
bhk                   4
Name: 30, dtype: object

In [68]:
(2100+2850)/2

2475

In [69]:
df4.head(3)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3

In [71]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head

<bound method DataFrame.head of                        location       size  total_sqft  bath   price  bhk  \
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
5                    Whitefield      2 BHK      1170.0   2.0   38.00    2
6              Old Airport Road      4 BHK      2732.0   4.0  204.00    4
7                  Rajaji Nagar      4 BHK      3300.0   4.0  600.00    4
8                  Marathahalli      3 BHK      1310.0   3.0   63.25    3
9                  Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00    6
10                   Whitefield      3 BHK      1800.0   2.0   70.00    3
11                   Whitefield  4 Bedroom      2785.0   5.0  295.00    4
12           7th Phase JP Nagar      2 BHK      1000.0   2.0   38.00    2
13                    Gottigere      2 BHK      1100.0   2.0   40.00    2
14                     Sarjapur  3 Bedroom      2250.0   3.0  148.00    3
15                  Mysore Road      2 BHK      1175.0   2.0   73.50    2
16                Bisuvanahalli      3 BHK      1180.0   3.0   48.00    3
17        Raja Rajeshwari Nagar      3 BHK      1540.0   3.0   60.00    3
18        Ramakrishnappa Layout      3 BHK      2770.0   4.0  290.00    3
19           Manayata Tech Park      2 BHK      1100.0   2.0   48.00    2
20                      Kengeri      1 BHK       600.0   1.0   15.00    1
21                   Binny Pete      3 BHK      1755.0   3.0  122.00    3
22                  Thanisandra  4 Bedroom      2800.0   5.0  380.00    4
23                    Bellandur      3 BHK      1767.0   3.0  103.00    3
24                  Thanisandra       1 RK       510.0   1.0   25.25    1
25              Mangammanapalya      3 BHK      1250.0   3.0   56.00    3
26              Electronic City      2 BHK       660.0   1.0   23.10    2
27                   Whitefield      3 BHK      1610.0   3.0   81.00    3
28             Ramagondanahalli      2 BHK      1151.0   2.0   48.77    2
29              Electronic City      3 BHK      1025.0   2.0   47.00    3
...                         ...        ...         ...   ...     ...  ...
13290            Sarjapur  Road      4 BHK      4050.0   2.0  450.00    4
13291            Weavers Colony  1 Bedroom       812.0   1.0   26.00    1
13292          Udayapur Village      3 BHK      1440.0   2.0   63.93    3
13293            Sarjapur  Road      4 BHK      2425.0   5.0  195.00    4
13294             Sultan Palaya      4 BHK      2200.0   3.0   80.00    4
13295              Haralur Road      3 BHK      1810.0   3.0  112.00    3
13296                  Cox Town      2 BHK      1200.0   2.0  140.00    2
13297           Electronic City      2 BHK      1060.0   2.0   52.00    2
13298             Kenchenahalli      2 BHK      1015.0   2.0   60.00    2
13299                Whitefield      4 BHK      2856.0   5.0  154.50    4
13300             Hosakerehalli  5 Bedroom      1500.0   6.0  145.00    5
13301                  Kothanur      3 BHK      1454.0   3.0   71.50    3
13302      Annaiah Reddy Layout      2 BHK      1075.0   2.0   48.00    2
13303            Vidyaranyapura  5 Bedroom       774.0   5.0   70.00    5
13304     Raja Rajeshwari Nagar      2 BHK      1187.0   2.0   40.14    2
13305                  Hulimavu      1 BHK       500.0   1.0  220.00    1
13306     Rajarajeshwari Nagara  4 Bedroom      1200.0   5.0  325.00    4
13307              Billekahalli      3 BHK      1805.0   3.0  134.00    3
13308         Bannerghatta Road      3 BHK      1527.0   3.0  142.00    3
13309              Yeshwanthpur      3 BHK      1675.0   3.0   92.13    3
13310              Rachenahalli      2 BHK      1050.0   2.0   52.71    2
13311          Ramamurthy Nagar  7 Bedroom      1500.0   9.0  250.00    7
13312                 Bellandur      2 BHK      1262.0   2.0   47.00    2
13313               Uttarahalli      3 BHK      1345.0   2.0   57.00    3
13314         Green Glen Layout      3 BHK      1715.0   3.0  112.00    3
13315                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13316             Richards Town      4 BHK      3600.0   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13318           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13319              Doddathoguru      1 BHK       550.0   1.0   17.00    1

       price_per_sqft
0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
5         3247.863248
6         7467.057101
7        18181.818182
8         4828.244275
9        36274.509804
10        3888.888889
11       10592.459605
12        3800.000000
13        3636.363636
14        6577.777778
15        6255.319149
16        4067.796610
17        3896.103896
18       10469.314079
19        4363.636364
20        2500.000000
21        6951.566952
22       13571.428571
23        5829.088851
24        4950.980392
25        4480.000000
26        3500.000000
27        5031.055901
28        4237.185056
29        4585.365854
...               ...
13290    11111.111111
13291     3201.970443
13292     4439.583333
13293     8041.237113
13294     3636.363636
13295     6187.845304
13296    11666.666667
13297     4905.660377
13298     5911.330049
13299     5409.663866
13300     9666.666667
13301     4917.469051
13302     4465.116279
13303     9043.927649
13304     3381.634372
13305    44000.000000
13306    27083.333333
13307     7423.822715
13308     9299.279633
13309     5500.298507
13310     5020.000000
13311    16666.666667
13312     3724.247227
13313     4237.918216
13314     6530.612245
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091

[13246 rows x 7 columns]>

In [73]:
len(df5.location.unique())

1304

In [76]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield                                      535
Sarjapur  Road                                  392
Electronic City                                 304
Kanakpura Road                                  266
Thanisandra                                     236
Yelahanka                                       210
Uttarahalli                                     186
Hebbal                                          176
Marathahalli                                    175
Raja Rajeshwari Nagar                           171
Bannerghatta Road                               152
Hennur Road                                     150
7th Phase JP Nagar                              149
Haralur Road                                    141
Electronic City Phase II                        131
Rajaji Nagar                                    106
Chandapura                                       98
Bellandur                                        96
Hoodi                                            88
KR Puram                                         88
Electronics City Phase 1                         87
Yeshwanthpur                                     85
Begur Road                                       84
Sarjapur                                         81
Kasavanhalli                                     79
Harlur                                           79
Banashankari                                     74
Hormavu                                          74
Kengeri                                          73
Ramamurthy Nagar                                 73
                                               ...
white field,kadugodi                              1
Kanakapura Main Road                              1
Kanakapura  Rod                                   1
Kanakapur main road                               1
Kanakadasa Layout                                 1
Kamdhenu Nagar                                    1
Kalkere Channasandra                              1
Kalhalli                                          1
Kengeri Satellite Town Stage II                   1
Kodanda Reddy Layout                              1
Malimakanapura                                    1
Konappana Agrahara                                1
Mailasandra                                       1
Maheswari Nagar                                   1
Madanayakahalli                                   1
MRCR Layout                                       1
MM Layout                                         1
MEI layout, Bagalgunte                            1
M.G Road                                          1
M C Layout                                        1
Laxminarayana Layout                              1
Lalbagh Road                                      1
Lakshmipura Vidyaanyapura                         1
Lakshminarayanapura, Electronic City Phase 2      1
Lakkasandra Extension                             1
LIC Colony                                        1
Kuvempu Layout                                    1
Kumbhena Agrahara                                 1
Kudlu Village,                                    1
1 Annasandrapalya                                 1
Name: location, Length: 1293, dtype: int64

In [78]:
len(location_stats[location_stats<=10])

1052

In [79]:
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

location
BTM 1st Stage                                   10
Basapura                                        10
Sector 1 HSR Layout                             10
Naganathapura                                   10
Kalkere                                         10
Nagadevanahalli                                 10
Nagappa Reddy Layout                            10
Sadashiva Nagar                                 10
Gunjur Palya                                    10
Dairy Circle                                    10
Ganga Nagar                                     10
Dodsworth Layout                                10
1st Block Koramangala                           10
Chandra Layout                                   9
Jakkur Plantation                                9
2nd Phase JP Nagar                               9
Yemlur                                           9
Mathikere                                        9
Medahalli                                        9
Volagerekallahalli                               9
4th Block Koramangala                            9
Vishwanatha Nagenahalli                          9
B Narayanapura                                   9
KUDLU MAIN ROAD                                  9
Ejipura                                          9
Vignana Nagar                                    9
Peenya                                           9
Kaverappa Layout                                 9
Banagiri Nagar                                   9
Gollahalli                                       9
                                                ..
white field,kadugodi                             1
Kanakapura Main Road                             1
Kanakapura  Rod                                  1
Kanakapur main road                              1
Kanakadasa Layout                                1
Kamdhenu Nagar                                   1
Kalkere Channasandra                             1
Kalhalli                                         1
Kengeri Satellite Town Stage II                  1
Kodanda Reddy Layout                             1
Malimakanapura                                   1
Konappana Agrahara                               1
Mailasandra                                      1
Maheswari Nagar                                  1
Madanayakahalli                                  1
MRCR Layout                                      1
MM Layout                                        1
MEI layout, Bagalgunte                           1
M.G Road                                         1
M C Layout                                       1
Laxminarayana Layout                             1
Lalbagh Road                                     1
Lakshmipura Vidyaanyapura                        1
Lakshminarayanapura, Electronic City Phase 2     1
Lakkasandra Extension                            1
LIC Colony                                       1
Kuvempu Layout                                   1
Kumbhena Agrahara                                1
Kudlu Village,                                   1
1 Annasandrapalya                                1
Name: location, Length: 1052, dtype: int64

In [80]:
len(df5.location.unique())

1293

In [82]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df5.location.unique())

242

In [84]:
df5.head(10)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,3247.863248
6,Old Airport Road,4 BHK,2732.0,4.0,204.00,4,7467.057101
7,Rajaji Nagar,4 BHK,3300.0,4.0,600.00,4,18181.818182
8,Marathahalli,3 BHK,1310.0,3.0,63.25,3,4828.244275
9,other,6 Bedroom,1020.0,6.0,370.00,6,36274.509804