In [3]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head

<bound method DataFrame.head of        Company                  Job     Degree  Salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1>

In [5]:
inputs = df.drop('Salary_more_then_100k', axis= "columns")
target = df['Salary_more_then_100k']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [17]:
inputs['company_n'] = le_company.fit_transform(inputs['Company'])
inputs['job_n'] = le_company.fit_transform(inputs['Job'])
inputs['degree_n'] = le_company.fit_transform(inputs['Degree'])
inputs.head()

  Company                  Job     Degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [19]:
inputs_n = inputs.drop(['Company', 'Job', 'Degree'], axis = 'columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [20]:
from sklearn import tree

In [21]:
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(inputs_n, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
model.score(inputs_n, target)

1.0

In [24]:
model.predict([[2,2,1]])

array([0])